NODE_ENV=test
port=5001

PGHOST=localhost
PGUSER=postgres
PGPASSWORD=YOUR_DB_PASSWORD
PGDATABASE=buycoins-be-test
PGPORT=5432

CIRCLE_API_KEY=YOUR_CIRCLE_API_KEY_HERE
CIRCLE_BASE_URL=https://api-sandbox.circle.com/v1

JWT_SECRET=thisisalongassstringthatdoessomerandomstufforinsertyourstringherelmao
